<header id="{{section.id}}">
  <nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
          <nav class="pull">
            <ul class="top-nav">
              <li ng-repeat="nav in ctrl.sections" ng-hide="nav.hide === true || nav.navHide === true">
                <a ng-href="#{{nav.id}}" du-smooth-scroll>{{nav.label||nav.title}} {{nav.navHide}}
                  <span class="indicator"><i class="fa fa-angle-right"></i></span>
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </nav>
  <section class="hero" id="hero">
    <div class="container">
      <div class="row">
        <div class="col-md-12 text-right navicon">
          <a id="nav-toggle" class="nav_slide_button" href="" ng-slide-toggle=".pull"><span></span></a>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center inner">
          <h1 class="animated fadeInDown">
            {{section.title}} <span>{{section.subtitle}}</span>
          </h1>
          <p class="animated fadeInUp delay-05s">{{section.description}}</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12 col-md-12 text-center">
          <ul class="list-inline">
            <li ng-repeat="link in section.links"><a ng-href="{{link.url}}" class="learn-more-btn" target="_blank"><span class="{{link.icon}}"></span> {{link.name}}</a></li>
          </ul>
        </div>
      </div>
    </div>
  </section>
</header>